@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
$border-radius : 10px;
$border-shadow : #203ee433 0px 7px 29px 0px;

body{
    font-family: 'Raleway', sans-serif;
}

.cover{
    margin-left: 120px;
    align-content: center;
    .circle{
        width: 100px;
        height: 100px;
        background-color: #3F51B5;
        border-radius: 50%;
        position: relative;
        top:80px;
        left:-110px;
    }
    .outer-box{
        width: 500px;
        height: 280px;
        box-shadow:$border-shadow;
        display: inline-flex;
        border-radius: $border-radius;
        padding: 10px;
        background-color: white;
        img{
            width: 300px;
            height: 200px;
            position: relative;
            top: 40px;
            left:-50px;
            border-radius: $border-radius;
            box-shadow:$border-shadow;
        }
        .content{
            padding:40px 20px 0 0;
        }
        h1 , h3{
            padding: 0;
            margin: 0;
        }
        button{
            border-radius: $border-radius;
            border-color: transparent;
            background-color:#3F51B5;
            color: white;
            width: 100%;
            height: 35px;
            font-size: 16px;
        }
        button:hover{
            background-color:#3145b8;
        }
    
    }
}

